[dev-packages]
django-debug-toolbar = "*"
pytest = "==5.4.1"


[packages]
django = "==3.1.1"
psycopg2-binary = "==2.8.4"
python-decouple = "==3.3"
django-import-export = "==2.0.2"
djangorestframework = "==3.11.1"
django-filter = "==2.3.0"
pytest-django = "==3.9.0"
python-dateutil = "==2.8.1"
gunicorn = "==20.0.4"
requests = "==2.7.0"
Pillow = "*"
django_heroku = "*"


[requires]
python_version = "3.8"
